<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easy_seo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <h1>Easy_seo</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form action="" method="post" novalidate>
                    <div class="form-group">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.text.label }}<br>
                        {{ form.text(style="width: 88%; height: 214px") }}
                        {% for error in form.text.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    <p>
                        {{ form.submit() }}
                    </p>
                    </div>
                </form>
                {{text}}

                <hr>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
            <div class="col-md-6">
                <p>List of links here</p>
                {% if list %}
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Sentence</th>
                      <th scope="col">Links</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for sent, links in list.items() %}
                  {% if links %}
                    <tr>
                      <th scope="row">1</th>
                      <td>{{ sent|truncate (50) }}</td>
                        {% for link in links[:2] %}
                      <td><a href="{{ link }}">{{ link|truncate (50) }}</a> </td>
                        {% endfor %}
                    </tr>
                  {% endif %}
                  {% endfor %}
                  </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>


</body>
</html>